@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cabin&display=swap);
@import url(https://fonts.googleapis.com/css?family=Questrial&display=swap);
.jumbotron {
	background: #ff416c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff416c, #ff4b2b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#fff;
    font-family: Raleway;
}

img{
    padding: 5px;
    margin: 6px;
    width: 6%;
}

.imgModal{
    width: 300px; height: 100px;
}

footer{
	background: #ff416c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff416c, #ff4b2b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#fff;
    font-family: Raleway;
}
.progress-bar.animate {
    width: 100%;
 }

 .modal {
    text-align: center;
    padding: 0!important;
  }
  
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  
h3{
    font-size: 30px;
}

.imgModal2{
    width: 50px; height: 50px;
    background: lightcoral;
}

h1{
    margin: 10px 10px 5px 5px;
    font-size: 50px;
}

body{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.panel-default > .panel-heading{
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
}

.encabezado{
    font-size: 17px;
    font-weight: bold;
}

.panel-title{
    color: #ffff;
    font-family: 'Cabin', sans-serif;
}

h5{
    font-weight: bolder;
}

.labelFont{
    font-family: Consolas;
}

